:root {
	--main-color: #b61726;
	--second-color: #ac0c08;
}

body {
	color: #000;
    font-weight: 300;
}


.page-wrapper {
    min-height: 100vh;
    padding-bottom: 45px;
    position: relative;
  }

footer {
 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
@media screen and (max-width:1192px) {
	footer { position: relative; }
}

.navbar-container .navbar {
    background: #535353;
}

.dropdown-menu > li > a {
    font-weight: 300;
    white-space: nowrap;
    text-transform: uppercase;
}


.navbar-container .navbar.navbar-fixed-top {
	background: #535353;
	
}

.navbar-container .navbar.navbar-fixed-top .container .top-panel {
    /*display: block;*/
}



.navbar-container .navbar-collapse {
	background: transparent;
}

.navbar-container .widget-menu a:hover {
    background-color: var(--main-color);
    color: #fff;
}

.product-section .product-image {
    height:inherit;
}

h1, .h1, h2, .h2, h3, .h3, #slideout form.biznestream-form h3, .default-section form.biznestream-form h3, .wide-section form.biznestream-form h3, .form-section form.biznestream-form h3, .form-widget form.biznestream-form h3, .widget-form form.biznestream-form h3 {
    font-weight: 900;
	color: var(--main-color);
}


@media screen and (min-width: 64em) {

.without-images .img-centered-trans:after {
    content: "";
    display: block;
    background: var(--main-color);
    transform: translateX(-15px);
    height: calc(100% - 40px);
    width: 190px;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
    transform: translateX(15px);
    height: calc(100% - 0px);
    left: 0;
    right: auto;
}

.img-centered-trans {
         transform: translateY(-50px) translateX(50px);
        margin-top: 150px;
}

.img-centered-trans img {
    transform: translateY(0px) translateX(45px);
}

}





/* video css */	  

.vimeo-wrapper2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* z-index: -1;*/
    pointer-events: none;
    overflow: hidden;
	/*background: #000;*/
}


.slider-height {
    height: calc(500px - 94px);
}

.vimeo-wrapper2 iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HKS Index Slider */


@keyframes text-focus-in {
  0% { 
    filter: blur(0px);
    opacity: 0; 
    transform: scale(1.5);
  }
  100% {
    filter: blur(0px);
    opacity: 1;
    transform: scale(1);
  }
}

.text-focus-in {
  animation: text-focus-in 3s cubic-bezier(0.32,0,0.67,0) both;
  animation: text-focus-in 4s ease-in-out both;
}


  .swiper-slide-overlay-1::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background-color: rgb(0 0 0 / 35%);
}
.hero-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}

@media (max-width: 991px) {
  .hero-slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-slider {
    height: 600px;
  }
}

.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}

@media (max-width: 767px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }
}

.hero-slider .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}

.hero-slider .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "<";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}

.hero-slider .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  content: ">";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity:1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

@media screen and (min-width: 992px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
/*     display: none; */
  }
}
.swiper-pagination {
  text-align:left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
}
@media (min-width: 767px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:30px;
 
}
}
/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
 height: 80vh;
 transition:all .3s ease;
}

@media (max-width: 991px) {
  .hero-style {
    height: 600px;
	height: 715px;
  }
}

@media (max-width: 767px) {
  .hero-style{
    height: 80vh;
  }
}

@media screen and (min-width: 992px) {
  .hero-style .container {
    padding-top: 95px;
  }
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
  max-width: 777px;
  max-width: 100%;
}

.hero-style .slide-title h2, .slide-title h1, .slider-h1 {
  font-size: 100px;
  font-weight: 100;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 30px;
  text-transform: capitalize;
  transition:all .4s ease;
  letter-spacing: 3px;
}

@media (max-width: 1199px) {
  .hero-style .slide-title h2, .slide-title h1, .slider-h1 {
    font-size: 75px;
  }
}

@media (max-width: 991px) {
  .hero-style .slide-title h2, .slide-title h1, .slider-h1 {
    font-size: 50px;
    margin: 0 0 35px;
  }
}

@media (max-width: 767px) {
  .hero-style .slide-title h2, .slide-title h1, .slider-h1 {
    font-size: 35px;
    margin: 0 0 30px;
  }
}

.hero-style .slide-text p {
  opacity: 1;
 /* font-family: Rajdhani;*/
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 40px;
  transition:all .4s ease;
}

@media (max-width: 767px) {
  .hero-style .slide-text p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
content: none!important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none!important;
}

img.logosl {
    margin: 0 10px 5px 10px;
    width: 88%;
}

.title_swiper_s {
  padding: 0 10vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  color: #ffffff;
}

.title__text {
  letter-spacing: 2px;
  font-size: clamp(3rem, 0.3864rem + 8.0682vw, 8.75rem);
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  position: relative;
  font-family: var(--headings-font-family);
 /* text-transform: uppercase;*/
}

.title-text-p {
    font-size: clamp(3rem, 0.3864rem + 1vw, 4.75rem);
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
	margin-top: 1em;
    line-height: 0.9;
	font-weight: 500;
}

@media (max-width: 940px) {
	.title-text-p {
		font-size: clamp(2rem, 0.3864rem + 1vw, 4.75rem);
	}
}

.title__text_2 {
    font-size: 38px;
    line-height: 1.2em;
	font-weight: 400;
	color:#fff;
	font-family: var(--headings-font-family);
	text-transform: uppercase;
}

@media (max-width: 1440px) {
.title__text_2 {
    font-size: 50px;
}
}

@media (max-width: 940px) {
.title__text_2 {
    font-size: 42px;
}
}

.swiper-slide-overlay::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 45%);
}

.background-image__image {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 1;
    /* mix-blend-mode: luminosity; */
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* mn */

.i-warp1 .main {
    justify-content: space-between;
    overflow: hidden;
}

.mflex {
    display: flex;
    flex-wrap: wrap;
}

.mn-33 {
    width: calc(33.3% - 5px);
}



.mn {
    position: relative;
    width: calc(50% - 5px);
    /* color: #fff; */
    margin-bottom: 10px;
}

@media (max-width: 940px) {
.mn {
    width: 100%;
    margin: 5px 0px;
}}

.bigimg {
    overflow: hidden;
}

.bigimg::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    background: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 100%);
    background: linear-gradient(180deg, rgba(38, 38, 38, 0.15) 0%, rgba(38, 38, 38, 0.9) 100%);
}


.i-warp1 .mn .mes {
    height: 100%;
    top: 0;
    padding: 50px 10px;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.dwzycenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.i-warp1 .mn .bigimg img {
    width: 100%;
    height: auto;
    max-height: 60svh;
    min-height: 500px;
}
.bigimg:hover img, .mn:hover img {
    transform: scale(1.05);
    /* filter: grayscale(0); */
}

.bigimg img {
    display: block;
    transition: all 1s;
    object-fit: cover;
    /* filter: grayscale(1); */
}


/* space*/

.space-20 {	
	height: 20px;
}

.space-50 {	
	height: 50px;
}

.space-100 {	
	height: 100px;
}

.space-150 {	
	height: 150px;
}

.space-200 {	
	height: 200px;
}


.overlay-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}